{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="title">
            <img class="navImg" src="https://cdn-icons-png.flaticon.com/128/12309/12309826.png">
            <h1>BloStory</h1>
        </div>
        <div class="loginBox">
            <h2>Register</h2>
            {% for message in messages %}
                <p class="authMessage">{{message}}</p>
            {% endfor %}
            <div class="loginForm">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label>Username</label>
                    <input type="text" name="username" placeholder="jhon123" required>
                    <label>email</label>
                    <input type="email" name="email" placeholder="jhon@gmail.com" required>
                    <label>password</label>
                    <input type="password" name="password" placeholder="xxxx" required>
                    <button type="submit">register</button>
                </form>
                <p>already have account <a class="clickHere" href="{% url 'login' %}">click here</a></p>
            </div>
        </div>
    </body>
</html>